#!/usr/bin/env bash

# Benchmark info
echo "TIMING - Starting main script at: $(date)"

# Set working directory to home directory
cd "${HOME}"

#
# Start Jupyter Lab Server
#

<%= context.custom_environment.gsub /\r\n?/, "\n" %>

# Benchmark info
echo "TIMING - Starting jupyter at: $(date)"

# Launch the Jupyter Lab Server
set -x
jupyter lab --config="${CONFIG_FILE}" <%= context.extra_jupyter_args %>
